body {
	font-family: arial;
}

#container {
	width: 920px;
	margin: 20px auto;
}

header, section, footer {
	padding: 20px;
}

header h1 {
	text-align: center;
	margin: 0;
}

header, section {
	border-bottom: 1px dotted;
}
